<nav class="menu">
  <div class="travel-logo">
    <img src="../assets/detailed-travel-logo_23-2148616612.avif" height="80px" width="100px">
  </div>
  <ul class="menu-items">
    <li><a routerLink="/Home" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"> Home</a></li>
    <li><a routerLink="/book-tickets" [routerLinkActive]="'active'">Book Tickets</a></li>
    <li><a href="#">Travel Packages</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>

  </ul>
  <ul class="menu-item2">
    <li><a href="#">Login</a></li>

  </ul>
</nav>
