.content{
  display: flex;
}

form{
 position: relative;
background-color: rgb(183, 183, 188);
margin-top: 13%;
margin-left: 38%;
width: 60%;
padding: 20px;

}
.carbook{
  padding: 5px;
}

.form-container {
  width: 50%;
  margin-top: 20px;
  margin-left: 30%;
}


label {
  font-weight: 700;
}


input[type="text"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}


button[type="submit"] {
  margin-top: 7px;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: #353536;
  border: none;
  color: white;


}

button[type="submit"]:hover {
  background-color: rgb(128, 128, 0);
}
.carbookval{
  display: flex;
  padding: 3px;
  gap: 10px;

}
/* .flightbookval input{

 margin-top: 25px;
 margin-left: -23%;
 width: 30%;
} */
